@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



:root{
    --cor1: rgba(13, 106, 134, 0.452);
    --cor2: rgba(70, 196, 235, 0.452);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.container{
    margin: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.display{
    width: 100%;
    text-align: right;

}

.btn{
    padding: 15px;
    width: 80px;
    font-size: 1em;
}

.btn:hover{
    background-color: var(--cor2);
    border: none;
}