@charset 'UTF-8';

*{
    padding: 0px;
    margin: 0px;
}

div{
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(69, 93, 228);
}

body{
    background-color: blueviolet;
}

input{
    border-radius: 10px;
    border-color: rgb(0, 140, 255);
}

#login{
    margin-bottom: 5px;   
    margin-top: 5px;
    padding: 5px;
}

#senha{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

#entrar{
    padding: 10px;
}

.naovalidado{
    margin: 3px;
    color: red;
    font-style: italic;
    font-weight: bolder;
}

.validado{
    margin: 3px;
    color: rgb(2, 39, 2);
    font-style: italic;
    font-weight: bolder;
}