@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    color: red;
}

body{
    background-color: rgb(8, 8, 100);
}

.container{
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}