<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text">Nome:
        <input type="text">Sobrenome:
        <input type="radio">Sexo:
    </form>
</body>
</html>