<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes</title>
</head>
<body>
    <h1>Eu fui renderizado!!</h1>

    <form action="/" method="POST">
        Digite seu nome: <input type="text" name="name"></input><br>
        Digite sua idade: <input type="number" name="idade"></input>
        <button>Enviar</button>
    </form>    
</body>
</html>